body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chakra-button:not(.back-btn) {
    background-color: black !important;
    color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.disabled-date {
    pointer-events: none;
    opacity: 0.5;
}

.react-datepicker-wrapper {
    input {
        outline: none !important;
    }
}

.react-select {
    width: 100%;
    min-width: 250px;
}